rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    match /trips/{tripId} {
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;


      allow read, update, delete: if request.auth != null
                                   && resource.data.userId == request.auth.uid;
    }
    
    match /activities/{activityId} {

      function tripBelongsToUser() {
        let tripId = request.resource.data.tripId;
        let trip   = get(/databases/$(database)/documents/trips/$(tripId));
        return trip.data.userId == request.auth.uid;
      }

      function existingTripBelongsToUser() {
        let tripId = resource.data.tripId;
        let trip   = get(/databases/$(database)/documents/trips/$(tripId));
        return trip.data.userId == request.auth.uid;
      }

      allow create: if request.auth != null && tripBelongsToUser();

      allow read, update, delete: if request.auth != null
                                   && existingTripBelongsToUser();
    }
  }
}